{% extends 'layoutEmail.html.twig' %}

{% block body %}
<h1 class="mt-5">New Episode "{{ episode.title }}" created</h1>
    <p>Hello, the new episode "{{ episode.title }}" from "{{ program.title }}" has been added on Wild Series</p>
    <h3>Synopsis :</h3> 
    <br>
    <p>{{episode.synopsis }}</p>

    <p>Find out everything <a href="{{ path('program_episode_show', { slug: program.slug, season_number: season.number, episode_title: episode.title })}}">here</a></p>

{% endblock %}