{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{program.title}}
  <small class="text-body-secondary">Season {{season.number}}</small></h5>
  <h4>{{episode.number}}. {{episode.title}}</h4>
    <p class="card-text">{{episode.synopsis}}</p>
  </div>
  
</div>

{% endblock %}